{
    languages = (
        {
            name = "Custom";
            script = latin;
            subGroup = (
                {
                    name = "Underware latin extended, customised";
                    coverage = (
                        .notdef,
                        .null,
                        CR,
                        space,
                        uni00A0,
                        A,
                        B,
                        C,
                        D,
                        E,
                        F,
                        G,
                        H,
                        I,
                        J,
                        K,
                        L,
                        M,
                        N,
                        O,
                        P,
                        Q,
                        R,
                        S,
                        T,
                        U,
                        V,
                        W,
                        X,
                        Y,
                        Z,
                        a,
                        b,
                        c,
                        d,
                        e,
                        f,
                        g,
                        h,
                        i,
                        j,
                        k,
                        l,
                        m,
                        n,
                        o,
                        p,
                        q,
                        r,
                        s,
                        t,
                        u,
                        v,
                        w,
                        x,
                        y,
                        z,
                        Agrave,
                        agrave,
                        Aacute,
                        aacute,
                        Acircumflex,
                        acircumflex,
                        Atilde,
                        atilde,
                        Adieresis,
                        adieresis,
                        Amacron,
                        amacron,
                        Abreve,
                        abreve,
                        Aring,
                        aring,
                        Aringacute,
                        aringacute,
                        Adotbelow,
                        adotbelow,
                        Aogonek,
                        aogonek,
                        AE,
                        ae,
                        AEacute,
                        aeacute,
                        Cacute,
                        cacute,
                        Ccircumflex,
                        ccircumflex,
                        Ccaron,
                        ccaron,
                        Cdotaccent,
                        cdotaccent,
                        Ccedilla,
                        ccedilla,
                        Dcaron,
                        dcaron,
                        Dcroat,
                        dcroat,
                        Eth,
                        eth,
                        Egrave,
                        egrave,
                        Eacute,
                        eacute,
                        Ecircumflex,
                        ecircumflex,
                        Etilde,
                        etilde,
                        Ecaron,
                        ecaron,
                        Edieresis,
                        edieresis,
                        Emacron,
                        emacron,
                        Ebreve,
                        ebreve,
                        Edotaccent,
                        edotaccent,
                        Edotbelow,
                        edotbelow,
                        Eogonek,
                        eogonek,
                        Gcircumflex,
                        gcircumflex,
                        Gcaron,
                        gcaron,
                        Gbreve,
                        gbreve,
                        Gdotaccent,
                        gdotaccent,
                        Gcommaaccent,
                        gcommaaccent,
                        Hcircumflex,
                        hcircumflex,
                        Hbar,
                        hbar,
                        idotless,
                        Igrave,
                        igrave,
                        Iacute,
                        iacute,
                        Icircumflex,
                        icircumflex,
                        Itilde,
                        itilde,
                        Idieresis,
                        idieresis,
                        Imacron,
                        imacron,
                        Ibreve,
                        ibreve,
                        Idotaccent,
                        i,
                        Idotbelow,
                        idotbelow,
                        Iogonek,
                        iogonek,
                        jdotless,
                        Jcircumflex,
                        jcircumflex,
                        Kcommaaccent,
                        kcommaaccent,
                        kgreenlandic,
                        Lacute,
                        lacute,
                        Lcaron,
                        lcaron,
                        Lcommaaccent,
                        lcommaaccent,
                        Lslash,
                        lslash,
                        Ldot,
                        ldot,
                        Nacute,
                        nacute,
                        Ntilde,
                        ntilde,
                        Ncaron,
                        ncaron,
                        Ncommaaccent,
                        ncommaaccent,
                        Nhookleft,
                        nhookleft,
                        Eng,
                        eng,
                        napostrophe,
                        Ograve,
                        ograve,
                        Oacute,
                        oacute,
                        Ocircumflex,
                        ocircumflex,
                        Otilde,
                        otilde,
                        Odieresis,
                        odieresis,
                        Omacron,
                        omacron,
                        Obreve,
                        obreve,
                        Ohungarumlaut,
                        ohungarumlaut,
                        Odotbelow,
                        odotbelow,
                        Oogonek,
                        oogonek,
                        Oslash,
                        oslash,
                        Oslashacute,
                        oslashacute,
                        OE,
                        oe,
                        Racute,
                        racute,
                        Rcaron,
                        rcaron,
                        Rcommaaccent,
                        rcommaaccent,
                        Sacute,
                        sacute,
                        Scircumflex,
                        scircumflex,
                        Scaron,
                        scaron,
                        Scedilla,
                        scedilla,
                        Scommaaccent,
                        scommaaccent,
                        Eszett,
                        germandbls,
                        germandbls,
                        Tcaron,
                        tcaron,
                        Tcedilla,
                        tcedilla,
                        Tcommaaccent,
                        tcommaaccent,
                        Tbar,
                        tbar,
                        Thorn,
                        thorn,
                        Ugrave,
                        ugrave,
                        Uacute,
                        uacute,
                        Ucircumflex,
                        ucircumflex,
                        Utilde,
                        utilde,
                        Udieresis,
                        udieresis,
                        Umacron,
                        umacron,
                        Ubreve,
                        ubreve,
                        Uring,
                        uring,
                        Uhungarumlaut,
                        uhungarumlaut,
                        Udotbelow,
                        udotbelow,
                        Uogonek,
                        uogonek,
                        Wgrave,
                        wgrave,
                        Wacute,
                        wacute,
                        Wcircumflex,
                        wcircumflex,
                        Wdieresis,
                        wdieresis,
                        Ygrave,
                        ygrave,
                        Yacute,
                        yacute,
                        Ycircumflex,
                        ycircumflex,
                        Ytilde,
                        ytilde,
                        Ydieresis,
                        ydieresis,
                        Ymacron,
                        ymacron,
                        Zacute,
                        zacute,
                        Zcaron,
                        zcaron,
                        Zdotaccent,
                        zdotaccent,
                        IJ,
                        ij,
                        IJacute,
                        ijacute,
                        Schwa,
                        schwa,
                        f_f,
                        fi,
                        fl,
                        f_ij,
                        f_f_i,
                        f_f_l,
                        f_f_ij,
                        ampersand,
                        at,
                        asterisk,
                        copyright,
                        registered,
                        trademark,
                        asciicircum,
                        asciitilde,
                        grave,
                        gravecomb.case,
                        acute,
                        acutecomb.case,
                        circumflex,
                        circumflexcomb.case,
                        caron,
                        caroncomb.case,
                        caronalt,
                        tilde,
                        tildecomb.case,
                        dieresis,
                        dieresiscomb.case,
                        macron,
                        macroncomb.case,
                        modifierlettermacron,
                        breve,
                        brevecomb.case,
                        ring,
                        ringcomb.case,
                        hungarumlaut,
                        hungarumlautcomb.case,
                        dotaccent,
                        dotaccentcomb.case,
                        cedilla,
                        dotbelowcomb,
                        ogonek,
                        commaaccentcomb,
                        commaaccentalt,
                        softhyphen,
                        hyphen,
                        endash,
                        emdash,
                        underscore,
                        period,
                        comma,
                        colon,
                        semicolon,
                        exclam,
                        exclamdown,
                        question,
                        questiondown,
                        ellipsis,
                        periodcentered,
                        bulletoperator,
                        bullet,
                        slash,
                        backslash,
                        bar,
                        brokenbar,
                        parenleft,
                        parenright,
                        bracketleft,
                        bracketright,
                        braceleft,
                        braceright,
                        quotesingle,
                        quotedbl,
                        quoteleft,
                        quoteright,
                        quotedblleft,
                        quotedblright,
                        quotesinglbase,
                        quotedblbase,
                        guilsinglleft,
                        guilsinglright,
                        guillemetleft,
                        guillemetright,
                        paragraph,
                        uniF8FF,
                        numbersign,
                        zero,
                        one,
                        two,
                        three,
                        four,
                        five,
                        six,
                        seven,
                        eight,
                        nine,
                        zero.zero,
                        fraction,
                        division,
                        onequarter,
                        onehalf,
                        threequarters,
                        degree,
                        percent,
                        perthousand,
                        plus,
                        minus,
                        plusminus,
                        equal,
                        notequal,
                        approxequal,
                        multiply,
                        less,
                        greater,
                        lessequal,
                        greaterequal,
                        divide,
                        logicalnot,
                        dagger,
                        daggerdbl,
                        section,
                        euro,
                        currency,
                        dollar,
                        cent,
                        florin,
                        sterling,
                        yen,
                        onesuperior,
                        twosuperior,
                        threesuperior,
                        ordfeminine,
                        ordmasculine,
                        numero,
                        Delta,
                        Omega,
                        mu,
                        pi,
                        literSign,
                        estimated,
                        infinity,
                        partialdiff,
                        integral,
                        radical,
                        summation,
                        product,
                        lozenge
                    );
                },
                {
                    name = "Adobe Latin 1, customised";
                    coverage = (
                    	space,
						exclam,
						quotedbl,
						numbersign,
						dollar,
						percent,
						ampersand,
						quotesingle,
						parenleft,
						parenright,
						asterisk,
						plus,
						comma,
						hyphen,
						period,
						slash,
						zero,
						one,
						two,
						three,
						four,
						five,
						six,
						seven,
						eight,
						nine,
						colon,
						semicolon,
						less,
						equal,
						greater,
						question,
						at,
						A,
						B,
						C,
						D,
						E,
						F,
						G,
						H,
						I,
						J,
						K,
						L,
						M,
						N,
						O,
						P,
						Q,
						R,
						S,
						T,
						U,
						V,
						W,
						X,
						Y,
						Z,
						bracketleft,
						backslash,
						bracketright,
						asciicircum,
						underscore,
						grave,
						a,
						b,
						c,
						d,
						e,
						f,
						g,
						h,
						i,
						j,
						k,
						l,
						m,
						n,
						o,
						p,
						q,
						r,
						s,
						t,
						u,
						v,
						w,
						x,
						y,
						z,
						braceleft,
						bar,
						braceright,
						asciitilde,
						exclamdown,
						cent,
						sterling,
						currency,
						yen,
						brokenbar,
						section,
						dieresis,
						copyright,
						ordfeminine,
						guillemetleft,
						logicalnot,
						registered,
						macron,
						degree,
						plusminus,
						twosuperior,
						threesuperior,
						acute,
						micro,
						paragraph,
						periodcentered,
						cedilla,
						onesuperior,
						ordmasculine,
						guillemetright,
						onequarter,
						onehalf,
						threequarters,
						questiondown,
						Agrave,
						Aacute,
						Acircumflex,
						Atilde,
						Adieresis,
						Aring,
						AE,
						Ccedilla,
						Egrave,
						Eacute,
						Ecircumflex,
						Edieresis,
						Igrave,
						Iacute,
						Icircumflex,
						Idieresis,
						Eth,
						Ntilde,
						Ograve,
						Oacute,
						Ocircumflex,
						Otilde,
						Odieresis,
						multiply,
						Oslash,
						Ugrave,
						Uacute,
						Ucircumflex,
						Udieresis,
						Yacute,
						Thorn,
						germandbls,
						agrave,
						aacute,
						acircumflex,
						atilde,
						adieresis,
						aring,
						ae,
						ccedilla,
						egrave,
						eacute,
						ecircumflex,
						edieresis,
						igrave,
						iacute,
						icircumflex,
						idieresis,
						eth,
						ntilde,
						ograve,
						oacute,
						ocircumflex,
						otilde,
						odieresis,
						divide,
						oslash,
						ugrave,
						uacute,
						ucircumflex,
						udieresis,
						yacute,
						thorn,
						ydieresis,
						idotless,
						Lslash,
						lslash,
						OE,
						oe,
						Scaron,
						scaron,
						Ydieresis,
						Zcaron,
						zcaron,
						florin,
						circumflex,
						caron,
						breve,
						dotaccent,
						ring,
						ogonek,
						tilde,
						hungarumlaut,
						endash,
						emdash,
						quoteleft,
						quoteright,
						quotesinglbase,
						quotedblleft,
						quotedblright,
						quotedblbase,
						dagger,
						daggerdbl,
						bullet,
						ellipsis,
						perthousand,
						guilsinglleft,
						guilsinglright,
						fraction,
						euro,
						trademark,
						minus,
						fi,
						fl
                    );
                },
                {
                    name = "Adobe Latin 2, customised";
                    coverage = (
                    	exclam,
						quotedbl,
						numbersign,
						dollar,
						percent,
						ampersand,
						quotesingle,
						parenleft,
						parenright,
						asterisk,
						plus,
						comma,
						hyphen,
						period,
						slash,
						zero,
						one,
						two,
						three,
						four,
						five,
						six,
						seven,
						eight,
						nine,
						colon,
						semicolon,
						less,
						equal,
						greater,
						question,
						at,
						A,
						B,
						C,
						D,
						E,
						F,
						G,
						H,
						I,
						J,
						K,
						L,
						M,
						N,
						O,
						P,
						Q,
						R,
						S,
						T,
						U,
						V,
						W,
						X,
						Y,
						Z,
						bracketleft,
						backslash,
						bracketright,
						asciicircum,
						underscore,
						grave,
						a,
						b,
						c,
						d,
						e,
						f,
						g,
						h,
						i,
						j,
						k,
						l,
						m,
						n,
						o,
						p,
						q,
						r,
						s,
						t,
						u,
						v,
						w,
						x,
						y,
						z,
						braceleft,
						bar,
						braceright,
						asciitilde,
						uni00A0,
						exclamdown,
						cent,
						sterling,
						currency,
						yen,
						brokenbar,
						section,
						dieresis,
						copyright,
						ordfeminine,
						guillemetleft,
						logicalnot,
						softhyphen,
						registered,
						macron,
						degree,
						plusminus,
						twosuperior,
						threesuperior,
						acute,
						micro,
						paragraph,
						periodcentered,
						cedilla,
						onesuperior,
						ordmasculine,
						guillemetright,
						onequarter,
						onehalf,
						threequarters,
						questiondown,
						Agrave,
						Aacute,
						Acircumflex,
						Atilde,
						Adieresis,
						Aring,
						AE,
						Ccedilla,
						Egrave,
						Eacute,
						Ecircumflex,
						Edieresis,
						Igrave,
						Iacute,
						Icircumflex,
						Idieresis,
						Eth,
						Ntilde,
						Ograve,
						Oacute,
						Ocircumflex,
						Otilde,
						Odieresis,
						multiply,
						Oslash,
						Ugrave,
						Uacute,
						Ucircumflex,
						Udieresis,
						Yacute,
						Thorn,
						germandbls,
						agrave,
						aacute,
						acircumflex,
						atilde,
						adieresis,
						aring,
						ae,
						ccedilla,
						egrave,
						eacute,
						ecircumflex,
						edieresis,
						igrave,
						iacute,
						icircumflex,
						idieresis,
						eth,
						ntilde,
						ograve,
						oacute,
						ocircumflex,
						otilde,
						odieresis,
						divide,
						oslash,
						ugrave,
						uacute,
						ucircumflex,
						udieresis,
						yacute,
						thorn,
						ydieresis,
						idotless,
						Lslash,
						lslash,
						OE,
						oe,
						Scaron,
						scaron,
						Ydieresis,
						Zcaron,
						zcaron,
						florin,
						circumflex,
						caron,
						modifierlettermacron,
						breve,
						dotaccent,
						ring,
						ogonek,
						tilde,
						hungarumlaut,
						pi,
						endash,
						emdash,
						quoteleft,
						quoteright,
						quotesinglbase,
						quotedblleft,
						quotedblright,
						quotedblbase,
						dagger,
						daggerdbl,
						bullet,
						ellipsis,
						perthousand,
						guilsinglleft,
						guilsinglright,
						fraction,
						euro,
						literSign,
						trademark,
						Ohm,
						estimated,
						partialdiff,
						increment,
						product,
						summation,
						minus,
						division,
						bulletoperator,
						radical,
						infinity,
						integral,
						approxequal,
						notequal,
						lessequal,
						greaterequal,
						lozenge,
						fi,
						fl
                    );
                },
                {
                    name = "Adobe Latin 3, customised";
                    coverage = (
						exclam,
						quotedbl,
						numbersign,
						dollar,
						percent,
						ampersand,
						quotesingle,
						parenleft,
						parenright,
						asterisk,
						plus,
						comma,
						hyphen,
						period,
						slash,
						zero,
						one,
						two,
						three,
						four,
						five,
						six,
						seven,
						eight,
						nine,
						colon,
						semicolon,
						less,
						equal,
						greater,
						question,
						at,
						A,
						B,
						C,
						D,
						E,
						F,
						G,
						H,
						I,
						J,
						K,
						L,
						M,
						N,
						O,
						P,
						Q,
						R,
						S,
						T,
						U,
						V,
						W,
						X,
						Y,
						Z,
						bracketleft,
						backslash,
						bracketright,
						asciicircum,
						underscore,
						grave,
						a,
						b,
						c,
						d,
						e,
						f,
						g,
						h,
						i,
						j,
						k,
						l,
						m,
						n,
						o,
						p,
						q,
						r,
						s,
						t,
						u,
						v,
						w,
						x,
						y,
						z,
						braceleft,
						bar,
						braceright,
						asciitilde,
						uni00A0,
						exclamdown,
						cent,
						sterling,
						currency,
						yen,
						brokenbar,
						section,
						dieresis,
						copyright,
						ordfeminine,
						guillemetleft,
						logicalnot,
						softhyphen,
						registered,
						macron,
						degree,
						plusminus,
						twosuperior,
						threesuperior,
						acute,
						micro,
						paragraph,
						periodcentered,
						cedilla,
						onesuperior,
						ordmasculine,
						guillemetright,
						onequarter,
						onehalf,
						threequarters,
						questiondown,
						Agrave,
						Aacute,
						Acircumflex,
						Atilde,
						Adieresis,
						Aring,
						AE,
						Ccedilla,
						Egrave,
						Eacute,
						Ecircumflex,
						Edieresis,
						Igrave,
						Iacute,
						Icircumflex,
						Idieresis,
						Eth,
						Ntilde,
						Ograve,
						Oacute,
						Ocircumflex,
						Otilde,
						Odieresis,
						multiply,
						Oslash,
						Ugrave,
						Uacute,
						Ucircumflex,
						Udieresis,
						Yacute,
						Thorn,
						germandbls,
						agrave,
						aacute,
						acircumflex,
						atilde,
						adieresis,
						aring,
						ae,
						ccedilla,
						egrave,
						eacute,
						ecircumflex,
						edieresis,
						igrave,
						iacute,
						icircumflex,
						idieresis,
						eth,
						ntilde,
						ograve,
						oacute,
						ocircumflex,
						otilde,
						odieresis,
						divide,
						oslash,
						ugrave,
						uacute,
						ucircumflex,
						udieresis,
						yacute,
						thorn,
						ydieresis,
						Amacron,
						amacron,
						Abreve,
						abreve,
						Aogonek,
						aogonek,
						Cacute,
						cacute,
						Ccaron,
						ccaron,
						Dcaron,
						dcaron,
						Dcroat,
						dcroat,
						Emacron,
						emacron,
						Edotaccent,
						edotaccent,
						Eogonek,
						eogonek,
						Ecaron,
						ecaron,
						Gbreve,
						gbreve,
						Gcommaaccent,
						gcommaaccent,
						Imacron,
						imacron,
						Iogonek,
						iogonek,
						Idotaccent,
						idotless,
						Kcommaaccent,
						kcommaaccent,
						Lacute,
						lacute,
						Lcommaaccent,
						lcommaaccent,
						Lcaron,
						lcaron,
						Lslash,
						lslash,
						Nacute,
						nacute,
						Ncommaaccent,
						ncommaaccent,
						Ncaron,
						ncaron,
						Omacron,
						omacron,
						Ohungarumlaut,
						ohungarumlaut,
						OE,
						oe,
						Racute,
						racute,
						Rcommaaccent,
						rcommaaccent,
						Rcaron,
						rcaron,
						Sacute,
						sacute,
						Scedilla,
						scedilla,
						Scaron,
						scaron,
						Tcedilla,
						tcedilla,
						Tcaron,
						tcaron,
						Umacron,
						umacron,
						Uring,
						uring,
						Uhungarumlaut,
						uhungarumlaut,
						Uogonek,
						uogonek,
						Ydieresis,
						Zacute,
						zacute,
						Zdotaccent,
						zdotaccent,
						Zcaron,
						zcaron,
						florin,
						Scommaaccent,
						scommaaccent,
						Tcommaaccent,
						tcommaaccent,
						circumflex,
						caron,
						modifierlettermacron,
						breve,
						dotaccent,
						ring,
						ogonek,
						tilde,
						hungarumlaut,
						pi,
						endash,
						emdash,
						quoteleft,
						quoteright,
						quotesinglbase,
						quotedblleft,
						quotedblright,
						quotedblbase,
						dagger,
						daggerdbl,
						bullet,
						ellipsis,
						perthousand,
						guilsinglleft,
						guilsinglright,
						fraction,
						euro,
						liraTurkish,
						ruble,
						literSign,
						trademark,
						Ohm,
						estimated,
						partialdiff,
						increment,
						product,
						summation,
						minus,
						division,
						bulletoperator,
						radical,
						infinity,
						integral,
						approxequal,
						notequal,
						lessequal,
						greaterequal,
						lozenge,
						fi,
						fl
                    );
                },
                {
                    name = "Unicode, Latin Extended-A";
                    coverage = (
                    	Amacron,
						amacron,
						Abreve,
						abreve,
						Aogonek,
						aogonek,
						Cacute,
						cacute,
						Ccircumflex,
						ccircumflex,
						Cdotaccent,
						cdotaccent,
						Ccaron,
						ccaron,
						Dcaron,
						dcaron,
						Dcroat,
						dcroat,
						Emacron,
						emacron,
						Ebreve,
						ebreve,
						Edotaccent,
						edotaccent,
						Eogonek,
						eogonek,
						Ecaron,
						ecaron,
						Gcircumflex,
						gcircumflex,
						Gbreve,
						gbreve,
						Gdotaccent,
						gdotaccent,
						Gcommaaccent,
						gcommaaccent,
						Hcircumflex,
						hcircumflex,
						Hbar,
						hbar,
						Itilde,
						itilde,
						Imacron,
						imacron,
						Ibreve,
						ibreve,
						Iogonek,
						iogonek,
						Idotaccent,
						idotless,
						IJ,
						ij,
						Jcircumflex,
						jcircumflex,
						Kcommaaccent,
						kcommaaccent,
						kgreenlandic,
						Lacute,
						lacute,
						Lcommaaccent,
						lcommaaccent,
						Lcaron,
						lcaron,
						Ldot,
						ldot,
						Lslash,
						lslash,
						Nacute,
						nacute,
						Ncommaaccent,
						ncommaaccent,
						Ncaron,
						ncaron,
						napostrophe,
						Eng,
						eng,
						Omacron,
						omacron,
						Obreve,
						obreve,
						Ohungarumlaut,
						ohungarumlaut,
						OE,
						oe,
						Racute,
						racute,
						Rcommaaccent,
						rcommaaccent,
						Rcaron,
						rcaron,
						Sacute,
						sacute,
						Scircumflex,
						scircumflex,
						Scedilla,
						scedilla,
						Scaron,
						scaron,
						Tcedilla,
						tcedilla,
						Tcaron,
						tcaron,
						Tbar,
						tbar,
						Utilde,
						utilde,
						Umacron,
						umacron,
						Ubreve,
						ubreve,
						Uring,
						uring,
						Uhungarumlaut,
						uhungarumlaut,
						Uogonek,
						uogonek,
						Wcircumflex,
						wcircumflex,
						Ycircumflex,
						ycircumflex,
						Ydieresis,
						Zacute,
						zacute,
						Zdotaccent,
						zdotaccent,
						Zcaron,
						zcaron,
						longs
                    );
                }
            );
        },
    );
}
